<div class="flex flex-row mb-8">
  <input required [(ngModel)]="newNote" class="mr-4 bg-inherit border rounded-md border-gray-400" id="input-note" type="text"/>
  <button (click)="addNote(newNote)" class="border rounded-md border-green-300 text-green-300 p-2">Create Note</button>
</div>

<div class="flex flex-col border rounded-md border-gray-400">
  <p *ngIf="notes.length == 0" class="text-gray-500 text-center" >Create your first note</p>

  <ul *ngFor="let note of notes">
    <li class="mb-1 border-dashed "> {{note}} </li>
  </ul>
</div>
